@model TarefasApp.Models.Tarefa

<h1>Criar Tarefa</h1>

<form method="post">
    <label>Título:</label>
    <input type="text" name="Titulo" /><br/>
    <label>Descrição:</label>
    <input type="text" name="Descricao" /><br/>
    <label>Concluída:</label>
    <input type="checkbox" name="Concluida" /><br/>
    <button type="submit">Salvar</button>
</form>